<div class="footer">
    <div class="wrapper">

        <div class="logo">

        </div>

        <div class="description">
            ООО "КАМТЕХ"</br>
            ИНН 7720451120</br>
            ОГРН 1197746041448</br>
            Адрес: г. Москва, Электродный проезд, дом 6, строение 1, подъезд 2, офис 15.
        </div>

        <div class="contacts">
            <div class="phone">
                <a href="tel:+74959612690" class="number">+7 (495) 961-26-90<br/>Многоканальный</a>

            </div>
            <div class="phone">
                <a href="tel:+74957672383" class="number">+7 (495) 767-23-83<br/>По выходным дням</a>

            </div>

        </div>

    </div>


    <div class="privacypolicy tac">
        <a href="#" class="conf" target="_blank">Политика конфиденциальности</a>
        <div class="conf-text tac">Отправляя данные, вы соглашаетесь с Политикой конфиденциальности этого сайта.</div>
    </div>


</div>