<div class="header" id="anchor3">
    <div id="shadowblock" style="position:  absolute;height:  100%;width: 100%;background: rgba(0,0,0,0.6);z-index: 9;"></div>

    <div class="wrapper">

        <div class="top">

            <div class="logo fleft">
                <a href="/"><img src="{{ asset('img/header/logo1.png') }}" alt=""></a>
                <div class="phone" style="color: white; text-align: center;">
                    Каменные Технологии
                </div>
            </div>

            <div class="description fleft"></div>



            <div class="contacts fright">
                <div class="phone">
                    <a href="tel:+74959612690" class="number fright">+7 (495) 961-26-90<br>Многоканальный</a>
                </div>
                <div class="phone">
                    <br>
                    <a href="tel:+74957672383" class="number fright">+7 (495) 767-23-83<br>Дежурный</a>
                </div>
                <br>
                <div class="callback tar">

                    <a class="zvonok">Заказать звонок</a>

                </div>

                <div class="email">
                    <a href="mailto:info@stone-tech.ru"><div class="email-text">info@stone-tech.ru</div></a>
                    <img src="{{ asset('img/header/email.png') }}">

                </div>


            </div>

            <div class="contacts-mobile">

                <div class="phone m0a">
                    <div class="phone-1">

                        <a href="tel:+74959612690" class="number">+7 (495) 961-26-90<br>Многоканальный</a>
                    </div>
                    <div class="phone-1">

                        <a href="tel:+74957672383" class="number">+7 (495) 767-23-83</a>
                    </div>
                </div>


                <div class="email m0a">
                    <img class="fleft" src="{{ asset('img/header/email.png') }}">
                    <a href="mailto:info@stone-tech.ru"><div class="email-text fleft">info@stone-tech.ru</div></a>
                </div>


            </div>
            <div class="offer tac m0a">
                <h1 itemprop="name" style="font-family: 'AmazingGroteskUltra', sans-serif;">
                    {% block h1 %}
                        Изготовление изделий из натурального камня
                    {% endblock %}
                </h1>
                {% if cityPage is not defined %}
                    <h3>Лучшая цена в Москве и Московской области</h3>
                {% endif %}
                <div class="utp tac m0a">
                    <div class="text tac">СКИДКИ НА ИЗГОТОВЛЕНИЕ И УСТАНОВКУ ДО <span>10%</span> <br>+
                        ЗАМЕР В ПОДАРОК, ПРИ ЗАКАЗЕ!
                    </div>
                    <div class="text-mob tac">Скидка на <br>установку до <span>10%</span> <br>+ замер при заказе <br>в
                        подарок!
                    </div>
                </div>
                {% block goToCataloBotton %}
                <a onclick="$(window).scrollTop(1200)" class="a-button" style="cursor: pointer">Перейти в каталог</a>
                {% endblock %}
            </div>

        </div>





    </div>

    <div class="slider">
        <ul class="slides">
            <li class="slide foto-1">
                <div class="box" style="">
                </div>
            </li>
            <li class="slide foto-3">
                <div class="box" style="">
                </div>
            </li>
        </ul>
    </div>


</div>