<div class="menu">
    <ul id="menu-main" class="menu"><li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-212"><a href="https://st-wp/stoleshnicy/">Столешницы</a>
            <ul class="sub-menu">
                <li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266"><a href="https://st-wp/stoleshnicy/iz-mramora/">Из мрамора</a></li>
                <li id="menu-item-250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="https://st-wp/stoleshnicy/iz-granita/">Из гранита</a></li>
                <li id="menu-item-270" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-270"><a href="https://st-wp/stoleshnicy/iz-travertina/">Из травертина</a></li>
                <li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-268"><a href="https://st-wp/stoleshnicy/iz-oniksa/">Из оникса</a></li>
            </ul>
        </li>
        <li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-214"><a href="https://st-wp/stupeni/">Ступени</a>
            <ul class="sub-menu">
                <li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="https://st-wp/stupeni/iz-mramora/">Из мрамора</a></li>
                <li id="menu-item-294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="https://st-wp/stupeni/iz-granita/">Из гранита</a></li>
                <li id="menu-item-297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="https://st-wp/stupeni/iz-travertina/">Из травертина</a></li>
                <li id="menu-item-296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="https://st-wp/stupeni/iz-oniksa/">Из оникса</a></li>
            </ul>
        </li>
        <li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-216"><a href="https://st-wp/lestnicy/">Лестницы</a>
            <ul class="sub-menu">
                <li id="menu-item-299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"><a href="https://st-wp/lestnicy/iz-mramora/">Из мрамора</a></li>
                <li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="https://st-wp/lestnicy/iz-granita/">Из гранита</a></li>
                <li id="menu-item-301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-301"><a href="https://st-wp/lestnicy/iz-travertina/">Из травертина</a></li>
                <li id="menu-item-300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"><a href="https://st-wp/lestnicy/iz-oniksa/">Из оникса</a></li>
            </ul>
        </li>
        <li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-218"><a href="https://st-wp/kaminy/">Камины</a>
            <ul class="sub-menu">
                <li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="https://st-wp/kaminy/iz-mramora/">Из мрамора</a></li>
                <li id="menu-item-286" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-286"><a href="https://st-wp/kaminy/iz-granita/">Из гранита</a></li>
                <li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="https://st-wp/kaminy/iz-travertina/">Из травертина</a></li>
                <li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="https://st-wp/kaminy/iz-oniksa/">Из оникса</a></li>
            </ul>
        </li>
        <li id="menu-item-224" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-224"><a href="https://st-wp/podokonniki/">Подоконники</a>
            <ul class="sub-menu">
                <li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="https://st-wp/podokonniki/iz-mramora/">Из мрамора</a></li>
                <li id="menu-item-302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-302"><a href="https://st-wp/podokonniki/iz-granita/">Из гранита</a></li>
                <li id="menu-item-304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-304"><a href="https://st-wp/podokonniki/iz-oniksa/">Из оникса</a></li>
                <li id="menu-item-305" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-305"><a href="https://st-wp/podokonniki/iz-travertina/">Из травертина</a></li>
            </ul>
        </li>
        <li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-222"><a href="https://st-wp/produkcija/">Изделия</a>
            <ul class="sub-menu">
                <li id="menu-item-536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-536"><a href="https://st-wp/sljeby-iz-granita-i-mramora/">Слэбы</a></li>
                <li id="menu-item-534" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-534"><a href="https://st-wp/plity-iz-granita-i-mramora/">Плиты</a></li>
                <li id="menu-item-528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-528"><a href="https://st-wp/panno-dlja-pola-iz-granita-i-mramora/">Панно для пола</a></li>
                <li id="menu-item-527" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-527"><a href="https://st-wp/dushevye-poddony-iz-granita-i-mramora/">Душевые поддоны</a></li>
                <li id="menu-item-531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-531"><a href="https://st-wp/mozaika-iz-granita-i-mramora/">Мозаика</a></li>
                <li id="menu-item-532" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-532"><a href="https://st-wp/kolonny-iz-granita-i-mramora/">Колонны</a></li>
                <li id="menu-item-526" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-526"><a href="https://st-wp/pamjatniki-iz-granita-i-mramora/">Памятники</a></li>
                <li id="menu-item-524" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-524"><a href="https://st-wp/izdelija-iz-kvarcevogo-kamnja/">Изделия из кварцевого камня</a></li>
                <li id="menu-item-529" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-529"><a href="https://st-wp/granitnaja-bruschatka/">Гранитная брусчатка</a></li>
                <li id="menu-item-525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-525"><a href="https://st-wp/perepolirovka-i-restavracija/">Переполировка и реставрация</a></li>
            </ul>
        </li>
        <li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223"><a href="https://st-wp/katalog/">Выбор камня</a></li>
        <li id="menu-item-226" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a href="https://st-wp/kontakty/">Контакты</a></li>
        <li id="menu-item-228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"><a href="https://st-wp/galereja/">Галерея</a></li>
        <li id="menu-item-274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274"><a href="https://st-wp/o-kompanii/">О компании</a></li>
       {# <li id="header_phone" style="display: none;">8(495)767-23-83</li>#}
    </ul>    </div>